
.header_bg_container{
    background-color: #FFF7E2;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header_container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar_container{
    display: flex;
    align-items: center;
}
.website_logo{
    color: black;
    font-size: 28px;
}
.nav_link_items{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 40px; 

}
.nav_item{
    margin-right: 20px;
}
.button_container{
    display: flex;
    justify-content:center;
}

.nav_link{
text-decoration: none;
font-size: 20px;
font-weight: 500;
color: #474747;

}

.login_button{
padding: 11px 37px 16px 37px;
border-radius: 11px;
color: #3A643B;
border: 1px solid #3A643B ;
background-color:transparent;
margin-right:10px;
font-size: 24px;
font-weight: 500;


}
.sign_up_button{
padding: 16px 39px 20px 39px;
border-radius: 11px;
background-color: #3A643B;
color: #FFFFFF;
font-size: 24px;
font-weight: 500;
}
