
.home_page_container{
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-top:40px;

}

.register_form_container{
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 40px;
   
    

}
.website_text{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(35, 172, 35);
}
.separator{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.re_label_text{
    color: #808080;
    margin-bottom: 8px;
    font-size: 16px;
}
.re_input_element{
    border: 1px solid rgba(43, 14, 14, 0.5);
    border-radius: 6px;
    height: 38px;
    font-size: 18px;
    color: black;
    padding-left: 10px;
    

}
.re_submit_button{
    background-color: rgb(48, 116, 206);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.re_submit_button:hover{
    background-color: rgb(42, 96, 186);
}

.re_checkbox{
    height:20px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid rgba(43, 14, 14, 0.5);
    border-radius: 5px;
    color:rgb(42, 96, 186);
}
.re_shown_password{
    display: flex;
    align-items: center;

    
}

.error_text{
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

.error_input_border{
    border: 1px solid red;
}

.sign_in{
    font-size: 16px;
    text-decoration: none;
    color:#000;
    font-weight: bold;
    text-align: center;
}

.sign_in:hover{
    color:rgb(42, 96, 186);
    text-decoration: underline;
}

.sign_in_container{
    display: flex;
    justify-content: center;
}